*{
    font-family:'Rubik', sans-serif;
}

.container{
    height: 100%;
}

#header{
    margin-top: 2em;
}

#logo{
    max-width: 40%;
}

#login{
    background-color: #e3177d;
    border: 1.5px solid black;
    font-weight: bold;
    font-size: 1em;
    color: black;
}

#loginContainer{
    margin-top: 8em;
    justify-content: center;
}

#loginButton{
    justify-content: center;
}

.login-icon{
    color: #fbbd00;
}

#login-card-header{
    background-color: #15acc4;
    font-weight: bold;
    font-size: 1.2em;
}

#login-card{
    border: 3px solid black;
}

.login-credentials::-moz-placeholder{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials:-ms-input-placeholder{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials::placeholder{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials:focus{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials{
    border-color: black;
    color: black;
}

textarea{
    color: black;
}

#login-body{
    /* background-color: rgba(211, 211, 211, 0.102); */
    background-color: white;
}

#logout{
    float: right;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 100;
}

.modifColorLogout {
    background-color: #E2211D;
    color: white;
    font-size: 15px;
}

#cecosNav, #adminNav{
    background-color:#fcc41c !important;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid black;
}

#navbarNav a{
    color: #0A0A0A;
    font-size: 15px;
}

#cecosLogo, #adminLogo{
    height: 4vh;
    cursor: default;
    background-color: white;
    width: 100px;
    height: 39.63px;
}

