/* *{
    font-family:Arial, Helvetica, sans-serif;
} */
html{
    /* overflow-y: scroll; */
    /* overflow-y: hidden; */
    overflow-y: overlay;
}

.container{
    height: 100%;
}

#header{
    margin-top: 2em;
}

#logo{
    max-width: 40%;
}

#login{
    background-color: #e3177d;
    border: 1.5px solid black;
    font-size: 15px;
    color: white;
}

#loginContainer{
    margin-top: 8em;
    justify-content: center;
}

#loginButton{
    justify-content: center;
}

.login-icon{
    color: #fbbd00;
}

@font-face {
    font-family: myFont;
    src: url(/SGTA-Broggi/public/fonts/Signika-Regular.ttf);
}

#login-card-header{
    background-color: #15acc4;
    font-weight: bold;
    font-size: 1.3em;
    font-family: myFont;
}

#login-card{
    border: 3px solid black;
}

.login-credentials::placeholder{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials:focus{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials{
    border-color: black;
    color: black;
}

textarea{
    color: black;
}

#login-body{
    /* background-color: rgba(211, 211, 211, 0.102); */
    background-color: white;
}

#logout{
    float: right;
    position: absolute;
    top: 20px;
    right: 1.1vw;
    z-index: 100;
    font-family: 'Rubik', sans-serif;
}

.modifColorLogout {
    background-color: #E2211D;
    color: white;
    font-size: 15px;
}

#cecosNav{
    background-color:#fcc41c !important;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid black;
    /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 8.5%, rgba(252,196,28,1) 8.5%, rgba(252,196,28,1) 100%); */
}

#navbarNav a{
    color: #0A0A0A;
    font-size: 15px;
}

#cecosLogo{
    height: 4vh;
    cursor: default;
    /* background-color: white;
    border-radius: 3px;
    border: 1px black solid; */
    /* width: 100px;
    height: 39.63px; */
    width: 125px;
    height: 49.54px;
}

.esborrarBtn {
    background-color: #e3177d !important;
    color: black !important;
}

.editarBtn {
  background-color: #15acc4 !important;
  color: black !important;
}

.editarBtn:hover {
  color: black !important;
}


.cerrarBtn {
  background-color: #6c757d !important;
  color: white;
}

.cerrarBtn:hover {
  color: white;
}


.paginacionNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.modal-title{
    margin-left: 45% !important;
}

.deleteModal{
    margin-left: 35% !important;
}
