*{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
}

#header{
    margin-top: 2em;
}

#logo{
    max-width: 80%;
}

#login{
    background-color: #e3177d;
    border: 1.5px solid black;
    font-weight: bold;
    font-size: 1em;
}

#loginContainer{
    margin-top: 8em;
    justify-content: center;
}

#loginButton{
    justify-content: center;
}

.login-icon{
    color: #fbbd00;
}

#login-card-header{
    background-color: #15acc4;
    font-weight: bold;
    font-size: 1.2em;
}

#login-card{
    border: 3px solid black;
}

.login-credentials::placeholder{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials:focus{
    /* font-weight: bolder; */
    color: black;
}

.login-credentials{
    border-color: black;
    color: black;
}

textarea{
    color: black;
}

#login-body{
    /* background-color: rgba(211, 211, 211, 0.102); */
    background-color: white;
}

#logout{
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}
